h1 {
        color:#38383A;
        font-family: 'Montaga', serif;
        font-weight: 400;
      }

h2 {
        color:#38383A;
        border-bottom-style: solid;
        border-color: #F6F7F3;
        padding-top: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
      }

h3 {
        color:#657F6E;
      }

ul {
        font-weight: bold;
        font-variant: small-caps;
        font-size: 24px;
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #38383A;
        font-family: 'Josefin Sans', sans-serif;
      }

li {
        float:left;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
      }

a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

li a:hover {
        background-color: green;
        font-size: 30px;
      }

.flex-container{
        display: flex;
        justify-content: center;
        font-family: 'Montaga', sans-serif;
        font-weight: bolder;
      }

p {
        font-family: 'Josefin Sans', sans-serif;
      }

aside:hover{
        color: #38383A;
        font-size: 30px;
      }

aside {
        width: 70%;
        padding-left: .3rem;
        margin-left: .3rem;
        float: right;
      }

.container {
        display: flex;
        flex-wrap: wrap;
        padding:10px;
        justify-content: center;

      }

div a:hover {
        border: 5px inset white;
      }

a {
        transition-property: image-size;
        transition-delay: 6s;
        transition-timing-function: ease-out;
      }

img {
        border-radius: 8px;
        background-size: contain;
      }

article {
        color:#C3B7AC;
      }

body {
        background-color:#E7E4DC;
      }

footer {
        display: flex;
        justify-content: center;
        padding: 2px;
        background-color: #38383A;
        color: #ffffff;
      }

.contact-information {
  margin: 1rem;
  padding: 1rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
  width: 10%;
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 2rem;;
  font-size: 16px;
}

input[type=text] {
  font-family: 'Josefin San', sans-serif;
  font-size: 16px;
  display: inline;
  margin-bottom: 2rem;
}

input[type=email] {
  display: inline;
  margin-bottom: 3rem;
}

input[type=tel] {
  display: inline;
  margin-bottom: 3rem;
}
